DB_USER=admin
DB_PASSWORD=1234
DB_NAME=music_server
DB_HOST=127.0.0.1
DB_PORT=5432

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=1234
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=celery_vhost

S3_USER=admin
S3_PASSWORD=12345678
S3_HOST=minio
S3_PORT=9000
S3_BUCKET=music-hosting
